<header class="br-header compact">
  <div class="container-xl">
    <!-- Topo do cabeçalho -->
    <div class="header-top">
      <div class="header-logo">
        <a target="_blank" href="https://www.gov.br/pt-br">
          <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-logo-large.png" alt="gov br">
        </a>
        <span class="br-divider vertical mx-half mx-sm-1"></span>
        <div class="header-sign">Assinatura</div>
      </div>

      <div class="header-actions">
        <!-- Botão de funcionalidades -->
        <div class="header-functions dropdown">
          <button type="button" data-toggle="dropdown" aria-label="Abrir Funcionalidades do Sistema"
            class="br-button circle small">
            <em aria-hidden="true" class="fas fa-th"></em>
          </button>
          <div class="br-list">
            <div class="header">
              <div class="title">Funcionalidades do Sistema</div>
            </div>
          </div>
        </div>

        <!-- Botão de login gov.br -->
        <!-- <div class="header-login">
          <div class="header-sign-in">
            <button
              type="button"
              data-trigger="login"
              class="br-button sign-in small"
            >
              <span class="d-sm-inline">Entrar com <b>gov.br</b></span>
            </button>
          </div>
        </div> -->

        <div>
          <button class="br-sign-in" type="button" id="avatar-dropdown-trigger" data-toggle="dropdown"
            data-target="avatar-menu" aria-label="Olá, Fulano"><span class="br-avatar" title="Fulano da Silva"><span
                class="content bg-orange-vivid-30 text-pure-0">P</span></span><span
              class="ml-2 text-gray-80 text-weight-regular">Olá, <span
                class="text-weight-semi-bold">Prefeitura</span></span><i class="fas fa-caret-down" aria-hidden="true"></i>
          </button>
          <div class="br-list" id="avatar-menu" hidden="hidden" role="menu" aria-labelledby="avatar-dropdown-trigger"><a
              class="br-item" href="javascript:void(0)" role="menuitem">Dados pessoais</a><a class="br-item"
              href="javascript:void(0)" role="menuitem">Privacidade</a><a class="br-item" href="javascript:void(0)"
              role="menuitem">Notificações</a><a class="br-item" href="javascript:void(0)" role="menuitem">Perguntas
              frequentes</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Parte inferior do cabeçalho -->
    <div class="header-bottom">
      <div class="header-menu">
        <div class="header-info">
          <div class="header-title">
            <a class="header-title" href="/pgt/home">
              Plataforma de <strong>Governança Territorial</strong>
            </a>
          </div>
        </div>
      </div>

      <!-- Campo de busca -->
      <div class="header-search">
        <div class="br-input has-icon">
          <label for="searchbox-90072">Texto da pesquisa</label>
          <input id="searchbox-90072" type="text" placeholder="O que você procura?" class="has-icon">
          <button type="button" aria-label="Pesquisar" class="br-button circle small">
            <em aria-hidden="true" class="fas fa-search"></em>
          </button>
        </div>
        <button type="button" aria-label="Fechar Busca" data-dismiss="search"
          class="br-button circle search-close ml-1">
          <em aria-hidden="true" class="fas fa-times"></em>
        </button>
      </div>
    </div>
  </div>
</header>