<nav class="br-breadcrumb">
    <ol class="crumb-list" role="list">
        <li class="crumb home">
            <a class="br-button circle" [routerLink]="'/'">
                <span class="sr-only">Página inicial</span>
                <i class="fas fa-home"></i>
            </a>
        </li>

        @for (crumb of breadcrumbs; track crumb.address) {
            <li class="crumb">
                <i class="icon fas fa-chevron-right"></i>

                @if ($last) {
                    <span>
                        {{ crumb.text }}
                    </span>
                } @else {
                    <a [routerLink]="crumb.address">
                        {{ crumb.text }}
                    </a>
                }
            </li>
        }
    </ol>
</nav>