<app-breadcrumb [breadcrumbs]="pageBreadcrumbs"></app-breadcrumb>

<h3>Resolução de Pendências</h3>

<p>Você está visualizando as validações com pendência da Solicitação de Regularização Urbana de <span
        style="color: blue;">JULIO
        CEZAR CAMINOTE PEDRONI</span> com o número do requerimento <span style="color: blue;">PA202100000002</span>.</p>


<div class="br-table" data-selection="data-selection" data-random="data-random">
    <div class="table-header">
        <div class="selected-bar">
            <div class="info"><span class="count">0</span><span class="text">item selecionado</span></div>
            <div class="actions-trigger text-nowrap">
                <button class="br-button circle inverted" type="button" id="button-dropdown-selection"
                    data-toggle="dropdown" data-target="target02-52512" aria-controls="target02-52512"
                    aria-label="Ver mais opções de ação" aria-haspopup="true"><i class="fas fa-ellipsis-v"
                        aria-hidden="true"></i>
                </button>
                <div class="br-list" id="target02-52512" role="menu" aria-labelledby="button-dropdown-selection"
                    hidden="hidden">
                    <button class="br-item modal-btn" type="button" role="menuitem"
                        (click)="esconderEditarJustificativaResolucao = true; esconderJustificativaResolucao = false; esconderEstornarResolucao = true">Dar
                        parecer(es) favorável(eis)</button>
                    <button class="br-item modal-btn" type="button" role="menuitem"
                        (click)="esconderEditarJustificativaResolucao = false; esconderJustificativaResolucao = true; esconderEstornarResolucao = true">Editar
                        Justificativa(s)</button>
                    <button class="br-item modal-btn" type="button" role="menuitem"
                        (click)="esconderEditarJustificativaResolucao = true; esconderJustificativaResolucao = true; esconderEstornarResolucao = false">Estornar
                        Resolução(ões)</button>
                </div>
            </div>
        </div>
    </div>
    <table>
        <caption>Título da Tabela</caption>
        <thead>
            <tr>
                <th class="border-right border-left">Situação</th>
                <th class="border-right border-left">Descrição da validação</th>
                <th class="border-right border-left">Resposta</th>
                <th class="border-right border-left">Data/hora</th>
                <th class="border-right border-left">Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Área Destinada -->
            <tr>
                <td data-th="situacao" class="col-status" rowspan="2">
                    <span class="legenda-item pendente">
                        <i class="fas fa-times-circle"></i>
                    </span>
                </td>
                <td data-th="Título coluna 1">A área total ou parcial do imóvel se localiza em Gleba Pública Federal?</td>
                <td data-th="Título coluna 2">Sim</td>
                <td data-th="Título coluna 3">21/03/2024 11:44</td>
                <td class="border-right border-left">
                    <app-dropdownmenu [buttonLabel]="'Menu de Ações'" [items]="menuItems"
                        (click)="onMenuSelect($event)"></app-dropdownmenu>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="col-detalhes">

                    <button type="button" class="btn-mais-info" (click)="expandido1 = !expandido1"
                        [attr.aria-expanded]="expandido1">

                        <i class="fas" [ngClass]="expandido1 ? 'fa-minus-square' : 'fa-plus-square'">
                        </i>
                    </button>

                    <strong>Mais informações:</strong>

                    <span *ngIf="expandido1">
                        <p class="mt-3">SOBREPOSIÇÃO PARCIAL EM GLEBA FEDERAL</p>
                    </span>
                </td>
            </tr>

            <tr>
                <td data-th="situacao" class="col-status" rowspan="2">
                    <span class="legenda-item pendente">
                        <i class="fas fa-times-circle"></i>
                    </span>
                </td>
                <td data-th="Título coluna 1">A área total ou parcial sobrepõe projetos de assentamento (INCRA)?</td>
                <td data-th="Título coluna 2">Sim</td>
                <td data-th="Título coluna 3">21/03/2024 11:44</td>
                <td class="border-right border-left">
                    <app-dropdownmenu [buttonLabel]="'Menu de Ações'" [items]="menuItems"
                        (click)="onMenuSelect($event)"></app-dropdownmenu>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="col-detalhes">

                    <button type="button" class="btn-mais-info" (click)="expandido2 = !expandido2"
                        [attr.aria-expanded]="expandido2">

                        <i class="fas" [ngClass]="expandido2 ? 'fa-minus-square' : 'fa-plus-square'">
                        </i>
                    </button>

                    <strong>Mais informações:</strong>

                    <span *ngIf="expandido2">
                        <p class="mt-3">SOBREPOSIÇÃO PARCIAL EM PROJETOS DE ASSENTAMENTO</p>
                    </span>
                </td>
            </tr>

            <tr>
                <td data-th="situacao" class="col-status" rowspan="2">
                    <span class="legenda-item pendente">
                        <i class="fas fa-times-circle"></i>
                    </span>
                </td>
                <td data-th="Título coluna 1">A área total ou parcial sobrepõe unidade de constante na Base de Cadastro Nacional de Conservação?</td>
                <td data-th="Título coluna 2">Sim</td>
                <td data-th="Título coluna 3">21/03/2024 11:44</td>
                <td class="border-right border-left">
                    <app-dropdownmenu [buttonLabel]="'Menu de Ações'" [items]="menuItems"
                        (click)="onMenuSelect($event)"></app-dropdownmenu>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="col-detalhes">

                    <button type="button" class="btn-mais-info" (click)="expandido3 = !expandido3"
                        [attr.aria-expanded]="expandido3">

                        <i class="fas" [ngClass]="expandido3 ? 'fa-minus-square' : 'fa-plus-square'">
                        </i>
                    </button>

                    <strong>Mais informações:</strong>

                    <span *ngIf="expandido3">
                        <p class="mt-3">SOBREPOSIÇÃO PARCIAL</p>
                    </span>
                </td>
            </tr>

            <!-- Detalhes da Área -->
            <tr>
                <td data-th="situacao" class="col-status" rowspan="2">
                    <span class="legenda-item pendente">
                        <i class="fas fa-times-circle"></i>
                    </span>
                </td>
                <td data-th="Título coluna 1">Somatório de todas as áreas federais já doadas ao municipio ultrapassa 2500 hectares?</td>
                <td data-th="Título coluna 2">Sim</td>
                <td data-th="Título coluna 3">21/03/2024 11:44</td>
                <td class="border-right border-left">
                    <app-dropdownmenu [buttonLabel]="'Menu de Ações'" [items]="menuItems"
                        (click)="onMenuSelect($event)"></app-dropdownmenu>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="col-detalhes">

                    <button type="button" class="btn-mais-info" (click)="expandido4 = !expandido4"
                        [attr.aria-expanded]="expandido4">

                        <i class="fas" [ngClass]="expandido4 ? 'fa-minus-square' : 'fa-plus-square'">
                        </i>
                    </button>

                    <strong>Mais informações:</strong>

                    <span *ngIf="expandido4">
                        <p class="mt-3">SOMATÓRIO DE TODAS AS ÁREAS JÁ DOADAS AO MUNICÍPIO = X HECTARES</p>
                    </span>
                </td>
            </tr>            

            <!-- Manifestação de Interesse -->
            <tr>
                <td data-th="situacao" class="col-status" rowspan="2">
                    <span class="legenda-item pendente">
                        <i class="fas fa-times-circle"></i>
                    </span>
                </td>
                <td data-th="Título coluna 1">A área total ou parcial sobrepõe a área de interesse da FUNAI?</td>
                <td data-th="Título coluna 2">Sim</td>
                <td data-th="Título coluna 3">21/03/2024 11:44</td>
                <td class="border-right border-left">
                    <app-dropdownmenu [buttonLabel]="'Menu de Ações'" [items]="menuItems"
                        (click)="onMenuSelect($event)"></app-dropdownmenu>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="col-detalhes">

                    <button type="button" class="btn-mais-info" (click)="expandido5 = !expandido5"
                        [attr.aria-expanded]="expandido5">

                        <i class="fas" [ngClass]="expandido5 ? 'fa-minus-square' : 'fa-plus-square'">
                        </i>
                    </button>

                    <strong>Mais informações:</strong>

                    <span *ngIf="expandido5">
                        <p class="mt-3">SOBREPOSIÇÃO TOTAL</p>
                    </span>
                </td>
            </tr>   

            <tr>
                <td data-th="situacao" class="col-status" rowspan="1">
                    <span class="legenda-item pendente">
                        <i class="fas fa-times-circle"></i>
                    </span>
                </td>
                <td data-th="Título coluna 1">A gleba foi consultada pela Câmara Técnica de Destinação de Imóveis Rurais?</td>
                <td data-th="Título coluna 2">Não</td>
                <td data-th="Título coluna 3">21/03/2024 11:44</td>
                <td class="border-right border-left">
                    <app-dropdownmenu [buttonLabel]="'Menu de Ações'" [items]="menuItems"
                        (click)="onMenuSelect($event)"></app-dropdownmenu>
                </td>
            </tr>

        </tbody>
    </table>
    <div class="table-footer">
        <nav class="br-pagination" aria-label="paginação" data-total="50" data-current="1" data-per-page="20">
            <div class="pagination-per-page">
                <div class="br-select">
                    <div class="br-input">
                        <label for="per-page-selection-random-88546">Exibir</label>
                        <input id="per-page-selection-random-88546" type="text" placeholder=" " />
                        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1"
                            data-trigger="data-trigger"><i class="fas fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="br-list" tabindex="0">
                        <div class="br-item" tabindex="-1">
                            <div class="br-radio">
                                <input id="per-page-10-random-88546" type="radio" name="per-page-random-88546"
                                    value="per-page-10-random-88546" checked="checked" />
                                <label for="per-page-10-random-88546">10</label>
                            </div>
                        </div>
                        <div class="br-item" tabindex="-1">
                            <div class="br-radio">
                                <input id="per-page-20-random-88546" type="radio" name="per-page-random-88546"
                                    value="per-page-20-random-88546" />
                                <label for="per-page-20-random-88546">20</label>
                            </div>
                        </div>
                        <div class="br-item" tabindex="-1">
                            <div class="br-radio">
                                <input id="per-page-30-random-88546" type="radio" name="per-page-random-88546"
                                    value="per-page-30-random-88546" />
                                <label for="per-page-30-random-88546">30</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div><span class="br-divider d-none d-sm-block mx-3"></span>
            <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span
                    class="per-page">20</span>&nbsp;de&nbsp;<span class="total">6</span>&nbsp;itens</div>
            <div class="pagination-go-to-page d-none d-sm-flex ml-auto">
                <div class="br-select">
                    <div class="br-input">
                        <label for="go-to-selection-random-35551">Página</label>
                        <input id="go-to-selection-random-35551" type="text" placeholder=" " />
                        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1"
                            data-trigger="data-trigger"><i class="fas fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="br-list" tabindex="0">
                        <div class="br-item" tabindex="-1">
                            <div class="br-radio">
                                <input id="go-to-1-random-35551" type="radio" name="go-to-random-35551"
                                    value="go-to-1-random-35551" checked="checked" />
                                <label for="go-to-1-random-35551">1</label>
                            </div>
                        </div>
                        <div class="br-item" tabindex="-1">
                            <div class="br-radio">
                                <input id="go-to-2-random-35551" type="radio" name="go-to-random-35551"
                                    value="go-to-2-random-35551" />
                                <label for="go-to-2-random-35551">2</label>
                            </div>
                        </div>
                        <div class="br-item" tabindex="-1">
                            <div class="br-radio">
                                <input id="go-to-3-random-35551" type="radio" name="go-to-random-35551"
                                    value="go-to-3-random-35551" />
                                <label for="go-to-3-random-35551">3</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div><span class="br-divider d-none d-sm-block mx-3"></span>
            <div class="pagination-arrows ml-auto ml-sm-0">
                <button class="br-button circle" type="button" aria-label="Voltar página"><i class="fas fa-angle-left"
                        aria-hidden="true"></i>
                </button>
                <button class="br-button circle" type="button" aria-label="Página seguinte"><i
                        class="fas fa-angle-right" aria-hidden="true"></i>
                </button>
            </div>
        </nav>
    </div>
</div>




<div class="col-12 mt-3 text-right">
    <a routerLink="/analista/relatorioconformidades"><button class="br-button secondary mr-3"
            type="button">Voltar</button></a>
</div>

<div class="br-scrim foco" id="scrimexample" data-trigger="scrim">
    <div class="br-modal modal-large">
        <div class="br-modal-dialog">
            <div class="br-modal-content">
                <div class="br-modal-body">
                    <div style="width: 99%;">
                        <app-justificativaresolucao
                            [hidden]="esconderJustificativaResolucao"></app-justificativaresolucao>
                        <app-editarjustificativa
                            [hidden]="esconderEditarJustificativaResolucao"></app-editarjustificativa>
                        <app-estornarresolucao [hidden]="esconderEstornarResolucao"></app-estornarresolucao>
                        <!-- <app-analisesolicitacao [hidden]="esconderAnaliseSolicitacao"></app-analisesolicitacao>
                        <app-elaboraroficiocasacivil [hidden]="esconderElaborarOficioCasaCivil"></app-elaboraroficiocasacivil>
                        <app-elaboraroficiomda [hidden]="esconderElaborarOficio"></app-elaboraroficiomda>
                        <app-estornarresolucao [hidden]="esconderEstornoPendencia"></app-estornarresolucao> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>